.button {
    border: 1px solid transparent;
    padding-inline: 1rem;
    padding-block: .5rem;
    display: inline-block;
    font: var(--button-button);
    text-decoration: none;
    cursor: pointer;
    color: currentColor;
    background: transparent;
    border-radius: .25rem;
    outline: none;
}

.button:active {
    transform: scale(.9);
}

.button.is-primary {
    background: var(--blue10);
    color: var(--white);
}

.button.is-secondary {
    border: 1px solid var(--gray20);
    background: var(--gray10);
}

.button.is-primary:hover,
.button.is-primary:focus {
    background: var(--blue30);
}

.button:hover,
.button:focus,
.button.is-secondary:hover,
.button.is-secondary:focus,
.button.is-rounded:focus,
.button.is-secondary:hover,
.button.is-compact:hover,
.button.is-compact:focus {
    background: var(--gray10);
}

.button.is-rounded {
    border-radius: 1.25rem;
    background: var(--gray10);
    color: var(--blue10);
}

.button.is-compact {
    border-radius: 50%;
    padding: .5rem;
}

.button i {
    font-size: 1.5rem;
    color: var(--gray50);
}

.button i, .button span {
    vertical-align: middle;
}

.button.is-shadowed {
    box-shadow: 0.08734026551246643px 2.5244154930114746px 7.496296405792236px 0px rgba(0, 0, 0, 0.07), 0.4128812551498413px 11.933600425720215px 29.30370330810547px 0px rgba(0, 0, 0, 0.04), 1.0719032287597656px 30.981462478637695px 92px 0px rgba(0, 0, 0, 0.03);
}

.button.is-users {
    margin-block: 1.5rem;
    display: flex-end;
    padding-inline-start: 1rem;
    padding-inline-end: 2.4rem;
    padding-block: 0.625rem;
    border: none;
    background-color: var(--gray10);
    white-space: nowrap;
}

.icon-users::before {
    padding-inline-end: .5rem;
}

.icon-clock::before {
    padding-inline-end: .5rem;
}

.icon-gps::before {
    padding-inline-end: .5rem;
}

.icon-text::before {
    padding-inline-end: .5rem;
}

.button.is-users::selection {
    background: none;
}

.button.is-square.is-secondary {
    border: none;
    display: flex;
    white-space: nowrap;
    font: var(--body1-regular);
}

.icon-checkSquare::before {
    padding-inline-end: .25rem;
    font-size: 1.5rem;
}

.icon-check::before {
    padding-inline-end: .25rem;
}

a.button.is-square.is-secondary {
    margin-block-end: .5rem;
}